# Xcode
#
# gitignore contributors: remember to update Global/Xcode.gitignore, Objective-C.gitignore & Swift.gitignore

## Build generated
build/
DerivedData/

## Various settings
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/

## Other
*.moved-aside
*.xccheckout
*.xcscmblueprint

## Obj-C/Swift specific
*.hmap
*.ipa
*.dSYM.zip
*.dSYM

# CocoaPods
#
# We recommend against adding the Pods directory to your .gitignore. However
# you should judge for yourself, the pros and cons are mentioned at:
# https://guides.cocoapods.org/using/using-cocoapods.html#should-i-check-the-pods-directory-into-source-control
#
# Pods/

# Carthage
#
# Add this line if you want to avoid checking in source code from Carthage dependencies.
# Carthage/Checkouts

Carthage/Build

# fastlane
#
# It is recommended to not store the screenshots in the git repo. Instead, use fastlane to re-generate the
# screenshots whenever they are needed.
# For more information about the recommended setup visit:
# https://docs.fastlane.tools/best-practices/source-control/#source-control

fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output

# Code Injection
#
# After new code Injection tools there's a generated folder /iOSInjectionProject
# https://github.com/johnno1962/injectionforxcode

iOSInjectionProject/
Example/ASLDeallocMonitor.xcodeproj/xcshareddata/xcschemes/ASLDeallocMonitor-Example.xcscheme
Example/ASLDeallocMonitor.xcworkspace/contents.xcworkspacedata
Example/ASLDeallocMonitor/Images.xcassets/AppIcon.appiconset/Contents.json
Example/Pods/Local Podspecs/ASLDeallocMonitor.podspec.json
Example/Pods/Manifest.lock
Example/Pods/Pods.xcodeproj/project.pbxproj
Example/Pods/Target Support Files/ASLDeallocMonitor/ASLDeallocMonitor-dummy.m
Example/Pods/Target Support Files/ASLDeallocMonitor/ASLDeallocMonitor-prefix.pch
Example/Pods/Target Support Files/ASLDeallocMonitor/ASLDeallocMonitor-umbrella.h
Example/Pods/Target Support Files/ASLDeallocMonitor/ASLDeallocMonitor.modulemap
Example/Pods/Target Support Files/ASLDeallocMonitor/ASLDeallocMonitor.xcconfig
Example/Pods/Target Support Files/ASLDeallocMonitor/Info.plist
Example/Pods/Target Support Files/Pods-ASLDeallocMonitor_Example/Info.plist
Example/Pods/Target Support Files/Pods-ASLDeallocMonitor_Example/Pods-ASLDeallocMonitor_Example-acknowledgements.markdown
Example/Pods/Target Support Files/Pods-ASLDeallocMonitor_Example/Pods-ASLDeallocMonitor_Example-acknowledgements.plist
Example/Pods/Target Support Files/Pods-ASLDeallocMonitor_Example/Pods-ASLDeallocMonitor_Example-dummy.m
Example/Pods/Target Support Files/Pods-ASLDeallocMonitor_Example/Pods-ASLDeallocMonitor_Example-frameworks.sh
Example/Pods/Target Support Files/Pods-ASLDeallocMonitor_Example/Pods-ASLDeallocMonitor_Example-resources.sh
Example/Pods/Target Support Files/Pods-ASLDeallocMonitor_Example/Pods-ASLDeallocMonitor_Example-umbrella.h
Example/Pods/Target Support Files/Pods-ASLDeallocMonitor_Example/Pods-ASLDeallocMonitor_Example.debug.xcconfig
Example/Pods/Target Support Files/Pods-ASLDeallocMonitor_Example/Pods-ASLDeallocMonitor_Example.modulemap
Example/Pods/Target Support Files/Pods-ASLDeallocMonitor_Example/Pods-ASLDeallocMonitor_Example.release.xcconfig
Example/Pods/Target Support Files/Pods-ASLDeallocMonitor_Tests/Info.plist
Example/Pods/Target Support Files/Pods-ASLDeallocMonitor_Tests/Pods-ASLDeallocMonitor_Tests-acknowledgements.markdown
Example/Pods/Target Support Files/Pods-ASLDeallocMonitor_Tests/Pods-ASLDeallocMonitor_Tests-acknowledgements.plist
Example/Pods/Target Support Files/Pods-ASLDeallocMonitor_Tests/Pods-ASLDeallocMonitor_Tests-dummy.m
Example/Pods/Target Support Files/Pods-ASLDeallocMonitor_Tests/Pods-ASLDeallocMonitor_Tests-frameworks.sh
Example/Pods/Target Support Files/Pods-ASLDeallocMonitor_Tests/Pods-ASLDeallocMonitor_Tests-resources.sh
Example/Pods/Target Support Files/Pods-ASLDeallocMonitor_Tests/Pods-ASLDeallocMonitor_Tests-umbrella.h
Example/Pods/Target Support Files/Pods-ASLDeallocMonitor_Tests/Pods-ASLDeallocMonitor_Tests.debug.xcconfig
Example/Pods/Target Support Files/Pods-ASLDeallocMonitor_Tests/Pods-ASLDeallocMonitor_Tests.modulemap
Example/Pods/Target Support Files/Pods-ASLDeallocMonitor_Tests/Pods-ASLDeallocMonitor_Tests.release.xcconfig
